<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Poll</div>
		<div class="panel-body">
		    <div class="row">
        	<div id='pollInfo col' class="col-md-6">
        		<h3 id='question'>{{poll.question}}</h3>
        		<form id='voteForm' action='/poll/{{poll.id}}' method='post' enctype="application/x-www-form-urlencoded">
        		    <div class='form-group'>
        		    <select class="selectpicker btn-block" id="option" name="option">
                        {{#each poll.options}}
                            <option title="Combo{{@index}}">{{this.name}}</option>
                        {{else}}
                            <p class="empty">No options available!</p>
                        {{/each}}                    
                      </select>
                      </div>
        			<button type='submit' class='btn btn-lg btn-block btn-primary voteButton'>Vote</button>
        		</form>
        		{{#if isLoggedIn}}
        		    <p>
                    <form method="post" action="/poll/{{poll.id}}" enctype="application/x-www-form-urlencoded" style='display: inline'>
                      <input name="_method" type="hidden" value="delete" />
                      <button type="submit" class='btn btn-lg btn-block btn-danger'>Delete this Poll</button>
                    </form>
                    </p>
        		    <p>
                    <button class='btn btn-lg btn-block' onclick="window.open('https://twitter.com/intent/tweet?text={{twittermessage}}')" class='btn btn-primary'>Share on Twitter</button>
                    </p>
        		    <p>
                    <div class="form-inline">
                        <form action="/poll/{{poll.id}}" method='post' enctype="application/x-www-form-urlencoded">
		                    <input type='hidden' name='_method' value='PUT'>
                             <label>Add new poll option: </label> <input name='newoption' type="text" size="30" class="form-control" /> <button type="submit" class='btn'>Add Poll option</button>
                       </form>
                   </div>
        		    <p>
                    <p>
                        <label id="totalcount">test</label>
                    </p>
        		{{/if}}
        	</div>
        	<div id='chart col' class="col-md-6">
        		<canvas id='poll' width="400" height="400"></canvas>
        	</div>
        	</div> 
        </div>
    </div>
</div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js'></script>

<script>
  var pollOptions = [{{{optionNames}}}];
  var pollData = [{{{data}}}];
  var count = 0;
   for(var i=0, n=pollData.length; i < n; i++) 
   { 
      count += pollData[i]; 
   }  
   var totalcount = document.getElementById('totalcount');
   if (totalcount !== null) {
    totalcount.innerHTML = 'Total number of votes: ' + count;
   }
  var ctx = document.getElementById("poll");
  var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
  labels: pollOptions,
        datasets: [{
            label: '# of Votes',
            data: pollData,
         backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            hoverBackgroundColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ]        }]
    },
});
</script>
